#mainHeader {
  background: #333333;
  background: #333;
  color: white;
  z-index: 3;
}

#mainNav {
  background: #CCC;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

#mainNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mainNav li {
  display: inline;
  padding: 5px 10px;
}

#mainNav li:hover {
  background: #aaa;
}

#mainNav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}